
.border-container {
  border-bottom: 1.35px solid rgb(190, 190, 190);
}

.body-bg {
  background-image: url(images/psychedelic_pattern_@2X.png);
  height: 100vh;
}

/* navigation styles for small breakpoints and above */
.nav-container {
  height: 60px;
}



/* expanding the row to take the full height of the nav-conntainer */
.navrow {
  height: 100%;
}
.myname {
  background-color: #4aaaa5;
  height: 100%;
  color: white;
}

.nav-name {
  font-size: 1.4rem;
  padding: 0 3px;
  
}

.nav-link {
  padding: 0 7px;
  color: rgb(190, 190, 190);
  font-weight: 400;
}

.nav-item:not(:last-of-type) {
  border-right: 1px solid rgb(190, 190, 190);
}

/* navigation styles for small breakpoint and below */

.small-nav {
  height: 85px;
  border-bottom: 1px solid rgb(190, 190, 190);
}
.small-nav-header {
  height: 60%;
  background-color: #4aaaa5;
}

.small-nav-list {
  height: 40%;
}

.small-nav-link {
  padding: 0 7px;
  color: rgb(190, 190, 190);
  font-size: .75rem;
  font-weight: 500;
}

.small-nav-name {
  font-size: 1.25rem;
  color: white;
}

/* styles for the about me description section */
.about-me-section {
  margin-top: 2rem;
}
.about-me-title {
  color:#4aaaa5;
  font-size: 1.6rem;
}

.about-me-description-box {
  color: rgb(190, 190, 190);
  line-height: 2rem;
}

/* .about-me-description {
  width: 100%;
} */

.footer {
  height: 60px;
  background-color: gray;
  border-top: 2.5px solid #4aaaa5;
  color: white;
}


/* =============== styles for the contact page ===================== */

.about-me-section-contact {
  color: rgb(190, 190, 190);
}

.form-control {
  color: rgb(190, 190, 190);
}